.navbar {
    background: #121212;
    grid-area: nav;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: right;
    padding: 0 30px 0 30px;
    border-bottom: 1px solid #7e1d7a;
  }
  
  .nav_icon {
    display: none;
  }
  
  .nav_icon > i {
    font-size: 26px;
    color: #7e1d7a;
  }
  
  .navbar__right {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .navbar__right > button {
    background-color: #7e1d7a;
    color: #b5b5b5;
    font-size: 16px;
    border-radius: 5px;
    padding: 7px;
    width: 150px;
    cursor: pointer;
  }

  @media only screen and (max-width: 978px) {
    .nav_icon {
      display: inline;
    }

    .navbar {
      justify-content: space-between;
    }
  }